<mat-toolbar color="primary">
  <mat-toolbar-row class="flex justify-between">
    <span>Listado de coworkings</span>
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<table mat-table class="mat-elevation-z8 w-full" [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="memberSince">
    <th mat-header-cell *matHeaderCellDef> Miembro desde </th>
    <td mat-cell *matCellDef="let element"> {{element.memberSince}} </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="hover:cursor-pointer" [mat-menu-trigger-for]="menu" [matMenuTriggerData]="{ id: element.id }">more_vert</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item [routerLink]="['/dashboard/spaces/information', id]">
      <mat-icon>info</mat-icon>
      <span>Detalle</span>
    </button>
    <button mat-menu-item [routerLink]="['/dashboard/spaces/information', id]">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
  </ng-template>
</mat-menu>
