<mat-toolbar color="primary">
  <mat-toolbar-row class="flex justify-between">
    <span>Detalle {{ id }}</span>
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="ml-10 mt-4" [routerLink]="'/dashboard/spaces/list'">
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
<!--  <div class="ml-3 pt-0.5">Regresar</div>-->
</div>

<mat-card class="mt-4 sm:mx-1.5 md:mx-10">
  <div class="mt-5 mb-5">
    <span class="text-xl text-gray-400 font-thin">{{ information.name }}</span>
    <header class="text-xs text-purple-600 ">Nombre</header>
  </div>
  <div class="mt-10 mb-5">
    <span class="text-xl text-gray-400 font-thin">{{ information.location }}</span>
    <header class="text-xs text-purple-600">Ubicacion</header>
  </div>
</mat-card>
