<div class="container container-center">
  <mat-card class="mat-card-80">
    <mat-card-title>Informacion general</mat-card-title>
    <mat-card-content>
      <form class="form">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de la empresa</mat-label>
          <input type="text" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descripcion</mat-label>
          <textarea matInput rows="6"></textarea>
        </mat-form-field>

        <mat-form-field class="md:w-1/3 sm:w-full">
          <mat-label>Precios por dia</mat-label>
          <input type="number" matInput placeholder="$1.00">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

        <mat-form-field class="md:w-1/3 sm:w-full">
          <mat-label>Precios por mes</mat-label>
          <input type="number" matInput placeholder="$1.00">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>

        <mat-form-field class="md:w-1/3 sm:w-full">
          <mat-label>Velocidad WiFi</mat-label>
          <input type="number" matInput placeholder="10">
          <mat-icon matSuffix>wifi</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
