<mat-toolbar color="primary">
  <mat-toolbar-row class="flex justify-between">
    <span>Informacion General</span>
    <button type="button" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="md:mt-2 xs:mt-0 md:mx-5 lg:mx-12">
  <mat-card-content>
    <form class="form">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la empresa</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descripcion</mat-label>
        <textarea matInput rows="6"></textarea>
      </mat-form-field>

      <mat-form-field class="md:w-1/3 sm:w-full">
        <mat-label>Precios por dia</mat-label>
        <input type="number" matInput placeholder="$1.00">
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field class="md:w-1/3 sm:w-full">
        <mat-label>Precios por mes</mat-label>
        <input type="number" matInput placeholder="$1.00">
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field class="md:w-1/3 sm:w-full">
        <mat-label>Velocidad WiFi</mat-label>
        <input type="number" matInput placeholder="10">
        <mat-icon matSuffix>wifi</mat-icon>
      </mat-form-field>

      <mat-form-field class="md:w-2/3 sm:w-full">
        <mat-label>Ubicacion</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix>home_pin</mat-icon>
      </mat-form-field>

      <label class="font-medium block pt-5">Amenidades</label>
      <section class="w-full flex justify-start flex-wrap pt-2">
        <mat-checkbox class="pr-4">Cafe</mat-checkbox>
        <mat-checkbox class="pr-4">Pet Friendly</mat-checkbox>
        <mat-checkbox class="pr-4">Area de fumar</mat-checkbox>
        <mat-checkbox class="pr-4">Estacionamiento</mat-checkbox>
        <mat-checkbox class="pr-4">Sala de conferencias</mat-checkbox>
        <mat-checkbox class="pr-4">Snacks</mat-checkbox>
      </section>

      <div class="pt-2 pb-10">
        <button type="button" mat-button class="amenity-btn-color">
          <mat-label>Agregar amenidad</mat-label>
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="flex justify-start">
        <div class="pr-4">
          <button type="button" mat-raised-button color="primary">Guardar</button>
        </div>
        <div>
          <button type="button" mat-raised-button>Cancelar</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<!--<div class="container container-center">-->
<!--</div>-->
