<mat-toolbar color="primary">
  <mat-toolbar-row class="flex justify-between">
    <span>Tipos de oficinas</span>
    <button mat-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex mx-10 mt-10">
  <table mat-table class="w-full" [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="inventory">
      <th mat-header-cell *matHeaderCellDef>Inventario</th>
      <td mat-cell *matCellDef="let element">{{ element.inventory }}</td>
    </ng-container>

    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Example icon-button with a menu" (click)="openDetail(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
