/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  margin: 15px;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  align-items: center;
}

.form__field-contentwith mat-form-field {
  display: contents;
}

.mat-card-80 {
  width: 80%;
}
